################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebGentelBookStore/.vs/WebGentelBookStore
/WebGentelBookStore/WebGentelBookStore/bin/Debug/netcoreapp3.1
/WebGentelBookStore/WebGentelBookStore/obj
/WebGentelBookStore/WebGentelBookStore/WebGentelBookStore.csproj.user
